:root {
  --background-s: #5e5f6999;
} 

.trans{
    width: 5rem;
    font-size: 19px;
    font-family: cursive;
    
}
.call-cart-r{
    height: 100% !important;
    display: block !important;
}
.call-cart{
    height: 0px;
    display: none;
    font-family: sans-serif;
    padding: 5px;
    background: var(--background-s);
    margin-bottom: 1rem;
}

/* word empty */

:root {
    --text: #2B3044;
    --line: #BBC1E1;
    --line-active: #275EFE;
  }

.lin-k{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    margin: 0 var(--spacing, 0px);
    transition: margin 0.25s;
  }
  .lin-k svg {
    width: 76px;
    height: 40px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 7px) translateZ(0);
    fill: none;
    stroke: var(--stroke, var(--line));
    stroke-linecap: round;
    stroke-width: 2px;
    stroke-dasharray: var(--offset, 69px) 278px;
    stroke-dashoffset: 361px;
    transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
  }
  .lin:hover .lin-k {
    --spacing: 4px;
    --stroke: var(--line-active);
    --stroke-delay: .1s;
    --offset: 180px;
    color: #275EFE;
  }
  .lin:hover a{
    text-decoration: none;
  }