.user-page {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
    transform: translate3d(45px);
}

.user-page div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.userh4 {
    font-size: 5rem;
    text-align: center;
    color: white;
}

.user-con {
    width: 60%;
    margin-bottom: 2rem;
}

.lorem {
    width: 45%;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 1019px) {
    .userh4 {
        font-size: 3rem;
        text-align: center;
        color: white;
    }

    .user-con {
        width: 80%;
    }

    .lorem {
        width: 60%;
    }
}